<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text navbar-right">Digital Optometrist by Daniel Chen, Copyright 2021&nbsp;</p>
    </div><!-- /.container-fluid -->
</nav>