<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text navbar-right" style="font-size: 120% !important;">Digital Optometrist by Daniel Chen, Copyright 2021&nbsp;</p>
        <p class="navbar-text navbar-left" style="font-size: 120% !important;">Last updated: 11/22/2021&nbsp;</p>
    </div><!-- /.container-fluid -->
</nav>