<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header" style="border-right: 3px black solid">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="images/logo.png" style="height:300%;margin-top:-7%;" />
            </a>
        </div>
        <p class="navbar-text navbar-left" style="margin: 10px 10px 0 10px; font-size: 200%;font-family: 'Academy Engraved LET',serif"><%= title %></p>
    </div><!-- /.container-fluid -->
</nav>
