<style>
    .breadcrumb {
        margin-bottom: 0;
        font-size: 80%;
    }

    .container {
        margin-top: 50px;
    }

    .container-fluid {
        background-color: #3377aa;
    }

    .navbar-text {
        color: white !important;
        font-size: 120%;
    }

    .navbar-right {
        font-size: 80%;
    }
</style>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text">Digital Optometrist</p>
        </div>
    </div>
    <ol class="breadcrumb">
        <li>
            Home
        </li>
        <li>
            Screen calibration
        </li>
        <li>
            Distance calibration
        </li>
        <li>
            Exam
        </li>
        <li>
            Results
        </li>
    </ol>
</nav>
