<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>

    <script src="/js/state.js"> </script>
    <script src="/js/calibration.js"> </script>

    <style>
        html {
            height: 80%;
        }
        body {
            height: 100%
        }

        .mycontainer {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }

        div.mytext p {
            font-weight: bold;
            color: #000000;
        }

        figure {
            display: inline-block; /* Here !!! */
            position: relative;
            margin: 0;
            margin-bottom: 10px;
        }

        figcaption {
            position: absolute;
            width: 350px;
            left: 25%;
            right: 25%;
            top: 40%;
            bottom: 40%;
            color: black;
            padding: 4px;
            font-size: 17px;
            line-height: 18px;
        }

        .caption {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

</head>
<body>
<%- include('../partials/header', {title: "Calibrating Your Optometrist"}); %>

<div class="container mycontainer">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Calibrate your screen so that we can accurately display the testing materials.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <figure class="center-block">
                <img alt="Card" id="card" class="center-block" src="images/cardtemplate.png" width="400px" height="auto" />
                <figcaption class="center-block">
                    <div class="caption">
                        Place a standard sized ID/credit card up against this frame and use up/down keys to match the sizes.
                    </div>
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button id="next" class="btn btn-primary center-block" onclick="nextPage()">
                NEXT
            </button>
        </div>
    </div>
</div>

<%- include('../partials/footer'); %>
</body>
</html>