<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>

    <script src="/js/calibration.js"> </script>

    <style>
        html {
            height: 80%;
        }
        body {
            height: 100%
        }

        .mycol {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .mycontainer {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%
        }

        .mybutton:hover {
            background-color: darkgray;
        }

        .mybutton {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            padding-bottom: 20px;
            width: 80px;
            height: 80px;
            font-size: 100px;
            border-color: darkblue;
            border-width: 5px;
            margin-right: 22px;
            margin-left: 22px;
        }

        .nextbutton {
            width: 200px;
            height: 100px;
            margin: 20px 0 0 0;
            font-weight: bolder;
            font-size: 30px;
            opacity: 0.9;
        }

        .cardrow {
            margin: 0;
            height: 70%;
        }

        .instructionrow{
            margin: 0;
            height: 30%;
        }

        .mytext {
            padding: 20px;
            width: 600px;
            margin: auto;
            background-color: white;
            opacity: 0.6;
        }

        .center {
            text-align: center;
        }

        .flex {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        div.mytext p {
            font-weight: bold;
            color: #000000;
        }

        figure {
            display: inline-block; /* Here !!! */
            position: relative;
            margin: 0;
            margin-bottom: 10px;
        }

        figcaption{
            position: absolute;
            left: 25%;
            right: 25%;
            top: 40%;
            bottom: 40%;
            color: black;
            padding: 4px;
            font-size: 17px;
            line-height: 18px;
        }

        .caption {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .fullwidth{
            display:inline-block;
        }
    </style>

</head>
<body>
<%- include('../partials/header', {title: "Calibrating Your Optometrist"}); %>

<div class="container mycontainer">
    <div class="row cardrow">
        <div class="col-md-6 mycol">
            <img src="images/Instruction-second.png" width="450px">
        </div>
        <div class="col-md-6 mycol">
            <div class="fullwidth">
                <figure>
                    <img alt="Card" id="card" src="images/cardtemplate.png" width="400px" style="margin-top: 40px;" height="auto">
                    <figcaption> <div class="caption"> Place card here and fit silhouette to the card </div></figcaption>
                </figure>
                <div class="flex">
                    <button id="decrease" class="mybutton" onclick="changeSize(-2)"> - </button>
                    <button id="increase" class="mybutton" onclick="changeSize(+2)"> + </button>
                </div>
        </div>

    </div>
    <div class="row instructionrow">
        <div class="col-md-12 mycol" style="margin-top:50px">
            <button id="next" class="nextbutton" onclick="nextPage()">
                NEXT
            </button>
        </div>
    </div>
</div>

<%- include('../partials/footer'); %>
</body>
</html>