<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <style>
        .nextbutton {
            width: 100%;
        }
    </style>
    <title></title>
</head>
<body>
<%- include('../partials/header', {title: ""}); %>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <img src="/images/letters/Right-E.svg" class="center-block" alt="E image" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p id="instructions">
                Welcome to Digital Optometrist! This tool conducts tests to help you estimate your degree of nearsightedness. It doesn't replace your real optometrist, but it can tell you whether you should visit one!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <button id="nextbutton" class="btn btn-primary nextbutton" onclick="window.location.href='/calibrations';">
                Get Started!
            </button>
        </div>
    </div>
</div>

<%- include('../partials/footer'); %>
</body>
</html>