<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <script src="js/result.js"></script>
    <style>
        html {
            height: 100%;

        }

        body {
            height: 100%;
            margin: 0;
        }

        .center {
            display: flex;

            justify-content: center;
            align-items: center;
            overflow: hidden;
            height: 33%;
        }

        .resultdisplay {
            height: 200px;      /* equals max image height */
            line-height: 200px;
            width: 250px;
            border-radius: 50%;
            border: 2px solid black;
            background-color: white;
            text-align: center;
        }

        .wordsdisplay {
            height: 100px;      /* equals max image height */
            line-height: 0;
            width: 600px;
            border: 2px solid black;
            background-color: white;
            text-align: center;
            font-size: 50px;
        }

        .resulttext {
            font-size: 50px;
        }

        .recommendationdisplay {
            height: 100px;      /* equals max image height */
            line-height: 30px;
            width: 700px;
            border: 2px solid black;
            background-color: white;
            text-align: center;
            font-size: 30px;
        }

        .spanbackground {
            background-image: url("static/images/Image6.png");
        }
    </style>
</head>
<body>
<%- include('../partials/header'); %>

<div class="center">
    <span class="wordsdisplay">
        <p>
            All done! Your result is:
        </p>
    </span>
</div>
<div class="center">
    <span class="resultdisplay">
        <code id="results" class="resulttext">
        </code>
    </span>
</div>
<div class="center">
    <span class="recommendationdisplay">
        <p id="recommendation"></p>
    </span>
</div>

<%- include('../partials/footer'); %>
</body>
</html>