<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <style>
        .screen {
            margin: 0;
            padding: 0;
        }
        .counter {

            width: 200px;
            height: 200px;
            background-color: white;
        }
        .countertext {
            margin: 50px;
            font-size: 100px;
        }
        .nextbutton {
            margin: 20px;
            position:absolute;
            top:0;
            right:0;
            width: 100px;
            height: 50px;
        }

        html {
            height: 100%;
        }

        body {
            height: 100%;
            margin: 0;
        }

        .transform {
             display: inline-block;
        }

        .letterdisplay {
            height: 600px;      /* equals max image height */
            line-height: 600px;
            width: 600px;
            border-radius: 50%;
            border: 2px solid black;
            background-color: white;
            text-align: center;
        }

        .myimage {
            display: inline;
            vertical-align: middle;
        }

        .center {
            display: flex;
            background-color: lightgreen;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            height: 100%;
        }
    </style>

    <script src="js/letterTesting.js"></script>
</head>
<body>
<div class="center">
    <div class="container screen">
        <div class="col-md-5">
            <p id="score" class="countertext">
            </p>
        </div>
        <div class="col-md-5">
            <span class="letterdisplay transform">
                <img id="testing-letter" class="myimage">
            </span>
        </div>
        <div class="col-md-2">
            <button id="nextbutton" class="nextbutton" disabled onclick="window.location.href='/results';">
                Next
            </button>
        </div>
    </div>
</div>
</body>
</html>