<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <script src="js/letterTesting.js"></script>
    <link rel="stylesheet" href="css/testing.css">
</head>
<body>
<%- include('../partials/header', {title: "Testing Your Vision"}); %>

<div class="center">
    <div class="container screen">
        <div class="row centeritems">
            <div class="col-md-3 centeritems">
                <table class="mytable">
                    <tr>
                        <th class="tabletext info">Correct</th>
                    </tr>
                    <tr>
                        <td id="correct" class="tabletext info"></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6 centeritems">
                <span class="letterdisplay transform">
                    <img id="testing-letter" class="myimage">
                </span>
            </div>
            <div class="col-md-3 centeritems">
                <table class="mytable">
                    <tr>
                        <th class="tabletext info">Incorrect</th>
                    </tr>
                    <tr>
                        <td id="incorrect" class="tabletext info"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row nextcontainer">
            <button id="nextbutton" class="nextbutton" disabled onclick="window.location.href='/results';">
                NEXT
            </button>
        </div>
    </div>
</div>

<%- include('../partials/footer'); %>
</body>
</html>