<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <script src="js/state.js"></script>
    <script src="js/letterTesting.js"></script>
    <link rel="stylesheet" href="css/testing.css">
</head>
<body>
<%- include('../partials/header', {title: "Testing Your Vision"}); %>

<div class="center">
    <div class="container screen">
        <p id="instruction" style="font-size: 30px; font-weight: bolder; text-align: center; padding-bottom: 20px">
            Please cover your <em id="italicized">right eye</em> and use your arrow keys to indicate the direction that the spokes of the "E" are facing.
            (Please remove any glasses)
        </p>
        <div class="row centeritems">
            <div class="col-md-3 centeritems">
                <table class="mytable">
                    <tr>
                        <th class="tabletext info">Correct</th>
                    </tr>
                    <tr>
                        <td id="correct" class="tabletext info"></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6 centeritems">
                <span class="letterdisplay transform">
                    <img id="testing-letter" class="myimage" height="auto">
                </span>
            </div>
            <div class="col-md-3 centeritems">
                <table class="mytable">
                    <tr>
                        <th class="tabletext info">Incorrect</th>
                    </tr>
                    <tr>
                        <td id="incorrect" class="tabletext info"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer'); %>
</body>
</html>