<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <style>
        .mybutton {
            font-weight: bolder;
            width: 100px;
            height: 50px;
        }

        .buttondiv {
            display:flex;
            justify-content: right;
        }

        video {
            display: none;
        }

        canvas {
            margin-top: 20px;
            border-color: black;
            border-style: solid;
        }

        code {
            font-weight: bold;
        }

        .res-circle {
            /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
            width: 60%;
            border-radius: 50%;

            /* (B) BACKGROUND COLOR */
            background: #bcd6ff;

            margin-top: 20px;

            /* (C) NECESSARY TO POSITION TEXT BLOCK */
            line-height: 0;
            position: relative;
        }

        /* (D) MATCH HEIGHT */
        .res-circle::after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        /* (E) TEXT BLOCK */
        .circle-txt {
            font-size: 30px;
            position: absolute;
            bottom: 50%;
            width: 100%;
            text-align: center;
            word-wrap: break-word;
        }
    </style>

    <script src="js/state.js">
    </script>

    <script src="https://webrtc.github.io/adapter/adapter-latest.js">
    </script>

    <script src="js/ccv.js">
    </script>

    <script src="js/face.js">
    </script>

    <script src="js/videoDetector.js">
    </script>
</head>
<body>
<%- include('../partials/header', {title: "Getting Your Distance"}); %>

<div class="container" style="margin-top: 75px">
    <div class="row" style="height: 80%">
        <div class="col-md-8 canvas">
            <video id="video" width="300" height="100" autoplay autofocus></video>
            <canvas id="canvas" width="640" height="480"></canvas>
        </div>
        <div class="col-md-4">
            <div style="font-size: 18px; padding: 20px; background-color:white; margin-top: 20px">
                <p id="instructions">
                    Position your face to be completely in the video. We recommend that you stay between 20 to 40 inches away from the computer.
                    <br>
                    Please wait until the number has stabilized before moving on.
                </p>
                <code id="distance" style="font-size: 30px; color: black; background-color: white;">Your distance is being measured. Please wait...</code>
                <p>
                    If you have trouble taking your distance or your camera does not function, input your distance manually below in inches.
                </p>
                <input type="number" id="manualdist" placeholder="Manual Distance Input"> <br>
                <div class="buttondiv">
                    <button id="nextbutton" class="btn btn-primary mybutton" disabled onclick="nextPage();">
                        NEXT
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer'); %>
</body>
</html>
