<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <style>
        .mybutton {
            margin-top: 50px;
            width: 100px;
            height: 50px;
            font-weight: bolder;
        }

        .buttondiv {
            display:flex;
            justify-content: right;
        }

        video {
            display: none;
        }

        canvas {
            margin-top: 20px;
            border-color: black;
            border-style: solid;
        }

        code {
            font-weight: bold;
        }

        .res-circle {
            /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
            width: 70%;
            border-radius: 50%;

            /* (B) BACKGROUND COLOR */
            background: #bcd6ff;

            margin-top: 20px;

            /* (C) NECESSARY TO POSITION TEXT BLOCK */
            line-height: 0;
            position: relative;
        }

        /* (D) MATCH HEIGHT */
        .res-circle::after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        /* (E) TEXT BLOCK */
        .circle-txt {
            font-size: 30px;
            position: absolute;
            bottom: 50%;
            width: 100%;
            text-align: center;
            word-wrap: break-word;
        }
    </style>

    <script src="https://webrtc.github.io/adapter/adapter-latest.js">
    </script>

    <script src="js/ccv.js">
    </script>

    <script src="js/face.js">
    </script>

    <script src="js/videoDetector.js">
    </script>

    <script>
        let session;
        window.onload = init;
    </script>
</head>
<body>
<%- include('../partials/header', {title: "Getting Your Distance"}); %>

<div class="container">
    <div class="row" style="height: 80%">
        <div class="col-md-8 canvas">
            <video id="video" width="300" height="100" autoplay autofocus></video>
            <canvas id="canvas" width="640" height="480"></canvas>
        </div>
        <div class="col-md-4">
            <div>
                <p id="instructions">
                    Please position yourself such that your face is completely visible in the image.
                    You can back up as much as you want, however, for more accurate results, it is
                    recommended that you stay between 25 to 30 inches away from the computer.
                    When you are ready to continue to the testing phase, just say
                    "next" in a loud and clear voice or press the next button.
                </p>
            </div>
            <div class="res-circle">
                <div class="circle-txt">
                    <code id="distance"></code>
                </div>
            </div>
            <div class="buttondiv">
                <button id="nextbutton" class="mybutton" disabled onclick="window.location.href='../testing';">
                    NEXT
                </button>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer'); %>
</body>
</html>
